.MainProjects{
    padding: 50px 0;
    min-height: 100vh;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.MainProjects .filterView{
    padding: 0 50px;
}
.MainProjects .filterView .filterButton{
    cursor: pointer;
}
.MainProjects .filterView .filterOptions{
    display: flex;
    gap: 50px;
    /* padding: 20px; */
    /* padding-bottom: 40px; */
    position: relative;
}
/* .MainProjects .filterView .applyFilter{
    position:absolute;
    right: 10px;
    bottom: 10px;
} */
.MainProjects .sectionTitle p{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.MainProjects .projectsContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
}

.MainProjects .projectsContainer .projectCard{
    width: 300px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.377);
    position: relative;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
}
.MainProjects .projectsContainer .projectCard:hover .cornerShape{
    background-color: var(--primaryColor);
}
.MainProjects .projectsContainer .projectCard .cornerShape{
    width: 50px;
    height: 50px;
    border-bottom-left-radius: 20px;
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MainProjects .projectsContainer .projectCard .image{
    width: 100%;
    height: 200px;

}
.MainProjects .projectsContainer .projectCard .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
    border-radius: 5px;
}
.MainProjects .projectsContainer .projectCard .text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width:1024px) {
    .MainProjects{
        min-height: unset;
    }
    .MainProjects .projectsContainer{
        gap: 50px;
        padding: 20px;
    }
    .MainProjects .projectsContainer .projectCard{
        width: 300px;
    }
}
@media screen and (max-width:600px) {
    .MainProjects .projectsContainer{
        gap: 50px;
    }
    .MainProjects .projectsContainer .projectCard{
        width: 90%;
    }
    .MainProjects .projectsContainer .projectCard .image{
        width: 100%;
        height: fit-content;
    }
}